caal/n8n-workflows/espn_get_nfl_scores.json
{
  "name": "espn_get_nfl_scores",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "espn_get_nfl_scores",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "espn_get_nfl_scores",
      "notes": "Get live NFL scores and standings. Optional parameters: team (e.g., 'Packers', 'Bears'). Returns current scores, game status, and matchups."
    },
    {
      "parameters": {
        "url": "https://site.api.espn.com/apis/site/v2/sports/football/nfl/scoreboard",
        "options": {}
      },
      "id": "http-request",
      "name": "Get NFL Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst webhookData = data.body || {};\nconst teamFilter = webhookData.team ? webhookData.team.toLowerCase() : null;\n\nconst events = data.events || [];\nconst games = [];\n\n// Process all games\nfor (const event of events) {\n  const competition = event.competitions[0];\n  const homeTeam = competition.competitors.find(c => c.homeAway === 'home');\n  const awayTeam = competition.competitors.find(c => c.homeAway === 'away');\n  \n  const homeAbbr = homeTeam.team.abbreviation;\n  const awayAbbr = awayTeam.team.abbreviation;\n  const homeName = homeTeam.team.displayName;\n  const awayName = awayTeam.team.displayName;\n  const homeScore = parseInt(homeTeam.score) || 0;\n  const awayScore = parseInt(awayTeam.score) || 0;\n  const status = event.status.type.description;\n  const statusDetail = event.status.type.shortDetail;\n  \n  games.push({\n    away: awayAbbr,\n    awayName: awayName,\n    awayScore: awayScore,\n    home: homeAbbr,\n    homeName: homeName,\n    homeScore: homeScore,\n    status: status,\n    statusDetail: statusDetail\n  });\n}\n\n// Filter by team if specified\nlet filteredGames = games;\nif (teamFilter) {\n  filteredGames = games.filter(g => \n    g.homeName.toLowerCase().includes(teamFilter) ||\n    g.awayName.toLowerCase().includes(teamFilter) ||\n    g.home.toLowerCase() === teamFilter ||\n    g.away.toLowerCase() === teamFilter\n  );\n}\n\n// Build voice response\nlet message = '';\n\nif (filteredGames.length === 0 && teamFilter) {\n  message = `No games found for ${teamFilter}.`;\n} else if (filteredGames.length === 0) {\n  message = 'No NFL games scheduled right now.';\n} else {\n  // Limit to top 5 games for voice\n  const voiceGames = filteredGames.slice(0, 5);\n  const voiceParts = [];\n  \n  for (const game of voiceGames) {\n    const awayShort = game.awayName.split(' ').pop(); // Get last word (team name)\n    const homeShort = game.homeName.split(' ').pop();\n    \n    if (game.status === 'Scheduled' || game.status === 'Pre-Game') {\n      voiceParts.push(`${awayShort} at ${homeShort}`);\n    } else if (game.status === 'Final') {\n      if (game.awayScore > game.homeScore) {\n        voiceParts.push(`${awayShort} ${game.awayScore}, ${homeShort} ${game.homeScore}. Final.`);\n      } else {\n        voiceParts.push(`${homeShort} ${game.homeScore}, ${awayShort} ${game.awayScore}. Final.`);\n      }\n    } else {\n      // In progress\n      const period = game.statusDetail.split(' - ')[1] || 'live';\n      voiceParts.push(`${awayShort} ${game.awayScore}, ${homeShort} ${game.homeScore}. ${period}.`);\n    }\n  }\n  \n  message = voiceParts.join(' ');\n  \n  // Add summary if more games exist\n  if (filteredGames.length > 5) {\n    message += ` Plus ${filteredGames.length - 5} more games.`;\n  }\n}\n\nreturn {\n  message: message,\n  games: filteredGames\n};"
      },
      "id": "code-node",
      "name": "Format for Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        912,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get NFL Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NFL Scores": {
      "main": [
        [
          {
            "node": "Format for Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Voice": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}
